@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: #f5f5f5;
}

/* nav-bar section styles starts here */
.nav-bar {
  width: 1280px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}

nav h1 {
  color: rgb(14, 14, 14);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

nav button {
  color: rgb(0, 106, 80);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  padding: 15px 30px;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  background-color: white;
}

nav button:hover {
  background-color: #c6e4d6;
  cursor: pointer;
}
/* nav-bar section styles ends here */

/* banner section styles starts here */
header {
  width: 1280px;
  height: 560px;
  padding: 80px 100px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 24px;
  background: rgb(198, 228, 214);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16;
}

header h2 {
  width: 222px;
  height: 38px;
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
  align-self: stretch;
}

header p {
  width: 622px;
  height: 201px;
  margin-top: 16px;
  color: rgb(14, 14, 14);
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
}

header button {
  width: 300px;
  height: 56px;
  margin-top: 24px;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  padding: 17px 34px;
  border: none;
  border-radius: 8px;
  background-color: rgb(0, 106, 80);
  align-items: center;
}

header button:hover {
  background-color: #81c784;
  cursor: pointer;
}
header img {
  width: 450px;
  height: 400px;
}
/* banner section styles ends here */

/* pillars section styles starts here */
.pillars-container {
  width: 1280px;
  height: 324px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
}

.pillars-container h2 {
  width: 1280px;
  height: 48px;
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}

.pillars-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.pillars-card {
  width: 302px;
  height: 244px;
  padding: 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
}

.pillars-card span {
  width: 254px;
  height: 24px;
  margin-top: 24px;
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.pillars-card p {
  width: 254px;
  height: 72px;
  margin-top: 10px;
  color: rgba(14, 14, 14, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
/* pillars section styles starts here */

/* vision section styles starts here */
.vision-container {
  width: 1280px;
  height: 765px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  padding: 0px;
  text-align: center;
}

.vision-title {
  width: 1280px;
  height: 48px;
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}

.vision-description {
  width: 1280px;
  height: 48px;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.vision-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}

.vision-card-1 {
  width: 410.67px;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  background-color: #d5e1f5;
  border: none;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.vision-card-1 button {
  margin-top: 72px;
  background-color: #5490f5;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.vision-card-1 button:hover {
  background-color: #2f64b6;
  cursor: pointer;
}

.vision-card-2 {
  width: 410.67px;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  background-color: #c6e4d6;
  border: none;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.vision-card-2 button {
  margin-top: 72px;
  background-color: #09a15c;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.vision-card-2 button:hover {
  background-color: #056b3c;
  cursor: pointer;
}

.vision-card-3 {
  width: 410.67px;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  background-color: #f7ebcf;
  border: none;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.vision-card-3 button {
  margin-top: 72px;
  background-color: #ffc23a;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.vision-card-3 button:hover {
  background-color: #d99a21;
  cursor: pointer;
}

.vision-card-1 img,
.vision-card-2 img,
.vision-card-3 img {
  width: 50px;
  height: 53px;
}

.vision-card-1 span,
.vision-card-2 span,
.vision-card-3 span {
  width: 346.67px;
  height: 24px;
  margin-top: 24px;
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.vision-card-1 p,
.vision-card-2 p,
.vision-card-3 p {
  width: 346.67px;
  height: 24px;
  margin-top: 24px;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.vision-quote {
  width: 1280px;
  height: 256px;
  padding: 48px 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  text-align: left;
}

.vision-quote-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.vision-quote-content p {
  margin-bottom: 30px;
  color: rgba(14, 14, 14, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.vision-quote-content cite {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.vision-quote-content small {
  margin-top: 4px;
  color: rgba(14, 14, 14, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
/* vision section styles ends here */

/* opinion section starts here */
.opinion-container {
  width: 1280px;
  height: 481px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.opinion-container h4 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}

.table-content {
  background-color: white;
  border: none;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 32px;
}

.table-head {
  width: 1216px;
  height: 72px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(198, 228, 214);
  display: flex;
}

.table-head-row {
  width: 100%;
  height: 100%;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  color: rgb(14, 14, 14);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.table-body {
  display: flex;
  flex-direction: column;
}

.table-body-row {
  height: 92px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgba(255, 255, 255, 0.1);

  color: rgb(14, 14, 14);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.table-select {
  width: 152px;
  height: 44px;
  padding: 10px 14px;
  border: 1px solid rgb(14, 14, 14);
  border-radius: 4px;
  background: rgb(198, 228, 214);

  color: rgb(14, 14, 14);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.table-select:hover {
  background-color: rgb(178, 208, 194);
  cursor: pointer;
}
/* opinion section ends here */

/* news section styles starts here */
.news-container {
  width: 1280px;
  height: 1406px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  padding: 0px;
}

.news-container h5 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}

.news-container p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.news-card {
  width: 1280px;
  height: 402px;
  padding: 48px;
  border-radius: 24px;
  background: white;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

.news-card img {
  width: 408px;
  height: 306px;
  border-radius: 24px;
}

.news-card-content {
  width: 744px;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}

.news-card-content h6 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.news-card-content img {
  width: 134px;
  height: 40px;
  margin-top: 12px;
}

.news-card-content time {
  margin-top: 12px;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.news-card-content p {
  margin-top: 12px;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.news-card-content button {
  margin-top: 32px;
  padding: 13px 26px;
  border-radius: 8px;
  border: none;
  background: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.news-card-content button:hover {
  background-color: #81c784;
  cursor: pointer;
}
/* news section styles ends here */

/* donation section styles starts here */
.donation-container {
  width: 1280px;
  height: 464px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}

.donation-container h6 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}

.donation-container p {
  margin-top: 24px;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.donation-content {
  width: 1071px;
  height: 128px;
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.donation-card {
  width: 240px;
  height: 128px;
  padding: 40px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background: white;

  color: rgba(14, 14, 14, 0.8);
  font-size: 34px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}

.donation-card:hover {
  background-color: #c6e4d6;
  cursor: pointer;
}

.donation-container input {
  width: 1032px;
  height: 64px;
  margin-top: 32px;
  padding: 20px 40px;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  text-align: center;
  background: white;
  border: none;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}

.donation-container button {
  width: 151px;
  height: 56px;
  margin-top: 32px;
  border: 1px solid rgba(14, 14, 14, 0.1);
  border-radius: 8px;
  background: rgb(0, 106, 80);

  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.donation-container button:hover {
  background-color: #81c784;
  cursor: pointer;
}
/* donation section styles ends here */

/* subscribe section styles strats here */
.subscribe-container {
  width: 1280px;
  height: 395px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 80px 100px;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.subscribe-container h6 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}

.subscribe-container p {
  width: 622px;
  height: 48px;
  margin-top: 16px;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.subscribe-content {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  gap: 0px;
}

.subscribe-content input {
  width: 600px;
  height: 55px;
  padding: 18px 40px;
  border-radius: 8px 0px 0px 8px;
  background: white;
  border: none;

  color: rgba(14, 14, 14, 0.3);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.subscribe-content button {
  width: 150px;
  height: 56px;
  padding: 17px 34px;
  border-radius: 0px 8px 8px 0px;
  border: none;
  background: rgb(0, 106, 80);

  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.subscribe-content button:hover {
  background-color: #81c784;
  cursor: pointer;
}

.subscribe-container span {
  width: 622px;
  height: 19px;
  margin-top: 24px;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
}

/* subscribe section styles en ds here */
