@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
}

/* nav-bar section styles starts here */
.nav-bar {
  width: 1280px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

nav h1 {
  color: rgb(14, 14, 14);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

nav button {
  color: rgb(0, 106, 80);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  padding: 15px 30px;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  background-color: white;
}

nav button:hover {
  background-color: #c6e4d6;
  cursor: pointer;
}
/* nav-bar section styles ends here */

/* banner section styles starts here */
header {
  width: 1280px;
  height: 560px;
  padding: 80px 100px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 24px;
  background: rgb(198, 228, 214);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16;
}

header h2 {
  width: 222px;
  height: 38px;
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
  align-self: stretch;
}

header p {
  width: 622px;
  height: 201px;
  margin-top: 16px;
  color: rgb(14, 14, 14);
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
}

header button {
  width: 300px;
  height: 56px;
  margin-top: 24px;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  padding: 17px 34px;
  border: none;
  border-radius: 8px;
  background-color: rgb(0, 106, 80);
  align-items: center;
}

header button:hover {
  background-color: #81c784;
  cursor: pointer;
}
header img {
  width: 450px;
  height: 400px;
}
/* banner section styles ends here */

/* pillars section styles starts here */
.pillars-container {
  width: 1280px;
  height: 324px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
}

.pillars-container h2 {
  width: 1280px;
  height: 48px;
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}

.pillars-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.card-1 {
  width: 302px;
  height: 244px;
  padding: 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.card-1 span {
  width: 254px;
  height: 24px;
  margin-top: 24px;
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.card-1 p {
  width: 254px;
  height: 72px;
  margin-top: 10px;
  color: rgba(14, 14, 14, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
/* pillars section styles starts here */
